.board button{
	width: 100px;
	height: 100px;
	background-color: gray;
	margin: 1px;
	border: 4px solid black;
	border-radius: 50%;
}

.navbar, .footer{
	height: 80px;
	background-color: magenta;
	align-self: center;
}

.footer{
	height: 80px;
	background-color: magenta;
	align-self: center;
	margin-top: 30px;
}

#nameOfGame, p{
	align-self: center;
	font-size: 50px;
	color: white;
}

body{
	background-color: pink;
}
#gamepage{
	display: none;
}

#start>button{
	margin:200px 0px;
	font-size: 32px;
	padding: 10px 20px;
	background-color: green;
	color: white;
	border: 1px solid blue;
	border-radius: 30px;
}
.footer{
	width: 100%;
	position: fixed;
	bottom:0;
}

.name1{
	position: absolute;
	right: 78%;
	margin-top: 10%;

	font-size: 48px;
  	color: rgb(12, 7, 7);
}

.name2{
	position: absolute;
	left: 78%;
	margin-top: 10%;
}

.edit{
	animation: edit 1s ease-in-out infinite alternate;
}

@keyframes edit {
	from {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #df368a, 0 0 30px #df368a, 0 0 40px #df368a, 0 0 50px #df368a, 0 0 60px #df368a;
	  }
	to {
	  text-shadow: 0 0 10px #fff, 0 0 20px #fa99ca, 0 0 30px #fa99ca, 0 0 40px #fa99ca, 0 0 50px #fa99ca, 0 0 60px #fa99ca, 0 0 70px #fa99ca;
	}
}
